<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoom clone</title>
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>
    <input hidden type="text" id="roomId" value="<%= roomId %>">
    <div id="video-grid">

    </div>
</body>
<script src="socket.io/socket.io.js"></script>
<script src="scripts/peerjs.min.js"></script>
<script src="scripts/main.js"></script>

</html>