<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoom clone</title>
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>
    <input hidden type="text" id="roomId" value="<%= roomId %>">


    <div class="main">
        <div class="main__left">
            <div class="mian__videos">
                <div id="video-grid">

                </div>
            </div>
            <div class="main__controls">

            </div>
        </div>
        <div class="main__right">
            <div class="main__header">
                <h6>Chat</h6>
            </div>
        </div>

    </div>
</body>
<script src="socket.io/socket.io.js"></script>
<script src="scripts/peerjs.min.js"></script>
<script src="scripts/main.js"></script>

</html>