body {
  margin: 0;
  padding: 0;
}

#video-grid {
  display: flex;
  justify-content: center;
}

video {
  height: 300px;
  width: 400px;
}

.main {
  height: 100vh;
  display: flex;
}

.main__left {
  flex-basis: 80%;
  border-right: 1px solid #000;
  display: flex;
  flex-direction: column;
}

.main__videos {
  flex-grow: 1;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__right {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 1rem;
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  background-color: #242424;
  color: #f5f5f5;
}

.main__controls {
  display: flex;
  background-color: #242424;
  color: #fff;
}
.main__controls__block {
  display: flex;
  font-size: 12px;
}

.main__controls__block:nth-child(2) {
  margin-left: auto;
  margin-right: auto;
}

.main__controls__block:last-child {
  color: #f00;
}

.main__controls__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  height: 4rem;
  padding: 0 1rem;
}

.main__controls__button:hover {
  background-color: #414142;
}

.main__chat_window {
  overflow-y: scroll;
  flex-grow: 1;
}

.main_message_container {
  padding: 22px 12px;
  display: flex;
}

.main__header {
  text-align: center;
}

.main__header > h6 {
  margin: 0;
}

.main_message_container input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  color: #f5f5f5;
  height: 40px;
}

.main_message_container input:focus {
  transition: ease-in-out, width 0.35s ease-in-out;
  outline: none;
  background-color: #4a4747;
  padding-left: 1rem;
}

.messages {
  list-style: none;
  padding-left: 0;
  padding-right: 1rem;
}

.message {
  margin: 2rem 0;
  background-color: #545050;
  padding: 1rem;
}

#sender {
  background-color: #b5aeae !important;
}
